name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    uses: ./.github/workflows/build.yml
  create_release:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Download wheels
      uses: actions/download-artifact@v3
      with:
        name: artifact
        path: dist
    - name: Publish release distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
